---
import { Icon } from 'astro-icon/components'
import { FooterConnections } from './FooterConnections'
---

<script>
  import { onSocketMessage } from '@/utils/socket'
  import { $socketConnections } from '@/utils/stores'

  onSocketMessage((message) => {
    if (message.type !== 'state') return
    $socketConnections.set(message.connections)
  })
</script>

<div class="opacity-50 text-sm space-y-2">
  <div>
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans">CC BY-NC-SA 4.0</a>
    © 2021-2025 bsdayo
  </div>

  <div>
    <FooterConnections client:only="react" />
  </div>

  <div class="space-x-1">
    <a aria-label="GitHub" class="inline-block" href="https://github.com/bsdayo" target="_blank">
      <Icon name="simple-icons:github" />
    </a>

    <a
      aria-label="Steam"
      class="inline-block"
      href="https://steamcommunity.com/id/bsdayo"
      target="_blank"
    >
      <Icon name="simple-icons:steam" />
    </a>

    <a aria-label="X" class="inline-block" href="https://x.com/konobsdayo" target="_blank">
      <Icon name="simple-icons:x" />
    </a>

    <a
      aria-label="Makerworld"
      class="inline-block"
      href="https://makerworld.com.cn/zh/@bsdayo"
      target="_blank"
    >
      <svg xmlns="http://www.w3.org/2000/svg" data-icon fill="currentColor" viewBox="0 0 28 28">
        <g clip-path="url(#clip0_15857_70398)">
          <path
            d="M27.2867 2.68142L20.8492 0.160571L20.4386 0L20.0257 0.160571L13.9977 2.51861L7.96978 0.160571L7.56139 0L7.15188 0.160571L0.713275 2.68142L0 2.96102V25.0401L0.713275 25.3186L7.15188 27.8394L7.56139 28L7.97091 27.8394L14 25.4814L20.028 27.8394L20.4386 28L20.8492 27.8394L27.2867 25.3186L28 25.0401V2.96102L27.2867 2.68142ZM20.4386 1.20372L26.8772 3.7257V12.8356L20.4386 10.3158V1.20372ZM14.4095 13.8787L20.4386 11.5207L26.4677 13.8787L26.7748 13.9989L26.4677 14.119L20.4386 16.4771L14.4095 14.119L14.1024 13.9989L14.4095 13.8787ZM7.56139 1.20372L14 3.7257V12.8356L7.56139 10.3147V1.20372ZM1.53343 13.8787L7.56139 11.5207L13.5905 13.8787L13.8976 13.9989L13.5905 14.119L7.56139 16.4771L1.53343 14.119L1.22629 13.9989L1.53343 13.8787ZM1.12504 24.2732V15.1588L7.56365 17.6785V26.7895L1.12504 24.2732ZM14.0022 24.2732V15.1588L20.4409 17.6785V26.7895L14.0022 24.2732Z"
          ></path>
        </g>
        <defs>
          <clipPath id="clip0_15857_70398">
            <rect width="82" height="28"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
  </div>
</div>
