---
import { Icon } from 'astro-icon/components'
import { FooterConnections } from './FooterConnections'
---

<script>
  import { onSocketMessage } from '@/utils/socket'
  import { $socketConnections } from '@/utils/stores'

  onSocketMessage((message) => {
    if (message.type !== 'state') return
    $socketConnections.set(message.connections)
  })
</script>

<div class="opacity-50 text-sm space-y-2">
  <div>
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans">CC BY-NC-SA 4.0</a>
    © 2021-2025 bsdayo
  </div>

  <div>
    <FooterConnections client:only="react" />
  </div>

  <div class="space-x-1">
    <a aria-label="github" class="inline-block" href="https://github.com/bsdayo" target="_blank">
      <Icon name="simple-icons:github" />
    </a>
    <a
      aria-label="x"
      class="inline-block"
      href="https://steamcommunity.com/id/bsdayo"
      target="_blank"
    >
      <Icon name="simple-icons:steam" />
    </a>
    <a aria-label="x" class="inline-block" href="https://twitter.com/konobsdayo" target="_blank">
      <Icon name="simple-icons:x" />
    </a>
  </div>
</div>
